
@font-face
	font-family: 'Lato-Regular'
	src: url('../fonts/Lato-Regular.ttf')
	font-weight: 400

@font-face
	font-family: 'Lato-Semibold'
	src: url('../fonts/Lato-Semibold.ttf')
	font-weight: 600

@font-face
	font-family: 'Lato-Bold'
	src: url('../fonts/Lato-Bold.ttf')
	font-weight: 700

@font-face
	font-family: 'Lato-Black'
	src: url('../fonts/Lato-Black.ttf')
	font-weight: 900

$transition: .3s

* 
	outline: none !important

a
	transition: $transition
	color: #000
	&:hover
		text-decoration: none
		opacity: .7
		color: #000

img
	max-width: 100%
	height: auto

body
	font-family: 'Lato-Regular', sans-serif
	color: #000
	background-color: #e7e7e7
	min-height: 100vh
	transition: $transition

.fw-bold
	font-family: 'Lato-Bold', sans-serif

@media (min-width: 830px)
	.container 
		max-width: 790px

.row-4
	margin-left: -4px
	margin-right: -4px
	> [class*='col']
		padding-left: 4px
		padding-right: 4px

.row-10
	margin-left: -10px
	margin-right: -10px
	> [class*='col']
		padding-left: 10px
		padding-right: 10px

.btn-save
	background: #2a639e
	border-radius: 6px
	border: 0
	font-size: 22px
	color: #FFF
	padding: 4px 20px
	transition: $transition
	font-family: 'Lato-Semibold', sans-serif
	&:hover
		color: #FFF
		opacity: .8
	&:focus
		box-shadow: none

.btn-save-green
	background: #3ba127

.lh-12
	line-height: 1.2

.fz-0
	font-size: 0
.fz-12
	font-size: 12px
.fz-14
	font-size: 14px
.fz-18
	font-size: 18px
.fz-21
	font-size: 21px
	@media (max-width: 575.98px)
		font-size: 18px
.fz-25
	font-size: 25px
	@media (max-width: 575.98px)
		font-size: 20px

.h1, h1 
	font-size: 30px
	text-transform: uppercase
	font-family: 'Lato-Semibold', sans-serif
	@media (max-width: 575.98px)
		font-size: 25px

.h3, h3 
	font-size: 25px
	font-family: 'Lato-Semibold', sans-serif
	margin-bottom: 0
	@media (max-width: 575.98px)
		font-size: 20px

.h4, h4 
	font-size: 21px
	font-family: 'Lato-Semibold', sans-serif
	margin-bottom: 0
	@media (max-width: 575.98px)
		font-size: 18px

.cart-white
	background: #FFF
	border: 1px solid #2f2f2f
	padding: 16px 35px
	margin-bottom: 20px
	@media (max-width: 575.98px)
		padding: 16px

.input-subject
	font-size: 14px
	border-radius: 0
	border: 1px solid #2f2f2f
	color:  #2f2f2f
	height: 40px
	padding: 10px 15px
	&:focus
		box-shadow: none
		border-color:  #2f2f2f

.input-day
	padding: 0
	font-size: 25px
	border: 0
	color: #000
	@media (max-width: 575.98px)
		font-size: 20px
	&:focus
		box-shadow: none

.form-check-label
	cursor: pointer
	font-size: 18px
	font-family: 'Lato-Semibold', sans-serif
	@media (max-width: 575.98px)
		font-size: 16px
	input[type="radio"]
		display: none
		~ .f
			display: inline-block
			width: 18px
			height: 18px
			cursor: pointer
			margin-right: 6px
			border: 1px solid #2f2f2f
			border-radius: 100px
			position: relative
		&:checked
			~ .f
				transition: $transition
				background: #d60707

.cart-gray
	background: #d5d6d7
	border: 1px solid #2f2f2f
	border-radius: 6px
	padding: 30px 16px
	@media (max-width: 575.98px)
		padding: 16px 8px

.cart-darkgray
	background: #abadae

.textarea-gray
	border-radius: 0
	resize: none
	min-height: 400px
	padding: 6px 20px
	font-size: 16px
	color:  #2f2f2f
	border-color:  #2f2f2f
	&::-webkit-input-placeholder
		color:  #2f2f2f
	&::-moz-placeholder
		color:  #2f2f2f
	&:-ms-input-placeholder
		color:  #2f2f2f
	&:focus 
		box-shadow: none
		border-color: #2f2f2f

.textarea-darkgray
	min-height: 250px
	padding: 20px
	font-size: 18px

.message-box
	border: 1px solid #ababab
	box-shadow: 0 1px 6px rgba(0, 0, 0, .1)
	@media (min-width: 576px)
		margin-left: -19px
		margin-right: -19px

.textarea-message
	border: 0
	min-height: 240px

.message-footer
	height: 28px
	position: relative
	background: linear-gradient(to bottom, #e4e4e4 0%, #d2d4d1 100%)
	&:after
		content: ''
		position: absolute
		bottom: 5px
		right: 5px
		border: 7px solid transparent
		border-right: 7px solid #666666 
		border-bottom: 7px solid #666666 

.message-header
	padding: 8px 8px 0
	background: linear-gradient(to bottom, #e4e4e4 0%, #d2d4d1 100%)
	border-bottom: 1px solid #ababab

.message-pill
	border: 1px solid #ababab
	border-radius: 6px
	background: linear-gradient(to bottom, #fcfcfc 0%, #e6e6e6 100%)
	min-height: 32px
	display: inline-block
	font-size: 0
	overflow: hidden
	margin-bottom: 8px
	.pill
		min-width: 32px
		height: 32px
		font-size: 14px
		vertical-align: middle
		text-align: center
		display: inline-block
		line-height: 32px
		transition: $transition
		&.disabled
			opacity: .5
		&.active
			background: linear-gradient(to bottom, #898989 0%, #b2b2b2 100%)
		&.pill-big
			padding: 0px 10px
		span 
			display: inline-block

.line
	width: 4px
	display: inline-block
	font-size: 18px
	vertical-align: middle
	color: #c1c1c1

.dropdown-1
	font-size: 14px
	border: 1px solid #ababab
	border-radius: 6px
	background: linear-gradient(to bottom, #fcfcfc 0%, #e6e6e6 100%)
	min-height: 32px
	margin-bottom: 8px
	.dropdown-toggle
		padding: 5.5px 8px
		&:after 
			margin-left: -4px
	.dropdown-menu
		padding: 0
		min-width: auto
		left: auto !important
		right: 50% !important
		transform: translate(50%, 32px) !important
		background: linear-gradient(to bottom, #fcfcfc 0%, #e6e6e6 100%)
		.dropdown-item
			padding: 2px 4px
			font-size: 12px

.custom-select
	font-size: 14px
	border: 0	
	cursor: pointer
	padding: 4.5px 44px 4.5px 12px
	background: url(../img/arrow.png) no-repeat right 0.75rem center/9px 5px
	height: 32px
	&:focus 
		box-shadow: none
		border-color: #2f2f2f

.custom-select-white
	background: #FFF url(../img/arrow.png) no-repeat right 6px center/13px 9px
	border-radius: 0
	border: 1px solid #2f2f2f
	font-size: 18px
	padding: 1.5px 26px 1.5px 6px
	color: #000
	@media (max-width: 767.98px)
		font-size: 14px

.camera
	border-radius: 6px
	overflow: hidden

.bg-img 
	background-position: center center 
	background-size: cover 
	height: auto

.edit-link
	display: inline-block 
	img 
		@media (max-width: 767.98px)
			width: 50px

// EMPLOYEE-CHAT

.bg-white
	background: #FFF

.container-employee 
	@media (min-width: 992px)
		max-width: 960px
	@media (min-width: 1200px)
		max-width: 1170px
	@media (min-width: 1290px)
		max-width: 1240px

.row-6
	margin-left: -6px
	margin-right: -6px
	> [class*='col']
		padding-left: 6px
		padding-right: 6px

.w-330
	@media (min-width: 1200px)
		width: 330px

.title-employee
	text-align: center 
	font-size: 30px
	font-family: 'Lato-Black', sans-serif
	line-height: 1.2
	text-shadow: 1px 2px 8px #e5e5e7

.text-shadow-white
	text-shadow: -2px 0 #FFF, 0 2px #FFF, 2px 0 #FFF, 0 -2px #FFF

.support-box
	background: #e5e5e7
	padding: 10px

.ul-box
	background: #FFF
	padding: 4px 20px 16px
	line-height: 1.2
	ol 
		padding-top: 16px
		padding-left: 30px
		li 
			margin-bottom: 6px
			&::marker 
				font-size: 26px
				font-weight: bold

.title-chat
	text-align: center 
	font-size: 22px
	font-family: 'Lato-Black', sans-serif
	line-height: 1.2
	text-shadow: -2px 0 #e5e5e7, 0 2px #e5e5e7, 2px 0 #e5e5e7, 0 -2px #e5e5e7

.border-shadow
	box-shadow: 0px 7px 2px 1px #e5e5e7
	height: 1px

.img-box
	display: inline-block
	width: 34px
	height: 34px
	border-radius: 100px
	background-size: cover
	background-color: #e5e5e7
	background-position: center center

.chat-box
	font-size: 13px
	.message-guest
		font-weight: bold
	.time
		color: #a5a5a5
		font-size: 12px

.dialog-box
	.title-dialog
		font-size: 20px
		font-family: 'Lato-Black', sans-serif
		text-shadow: 1px 2px 8px #e5e5e7
	.label
		font-size: 14px
		text-shadow: 1px 2px 8px #e5e5e7

.select-dialog
	padding: 2px 40px 2px 10px 
	border: 1px solid #e5e5e7 !important
	font-size: 13px
	width: 165px
	box-shadow: none
	border-radius: 4px
	text-overflow: ellipsis
	min-width: 165px
	color: #000
	background: #FFF url(../img/select.svg) no-repeat right 6px center/16px 8px
	height: 32px

label
	&.checkbox-group
		padding-right: 22px
		display: inline-block
		margin-bottom: 0
		position: relative
		cursor: pointer
		transition: $transition
		text-shadow: 1px 2px 8px #e5e5e7
		font-size: 14px
		div:before
			content: ''
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)
			border: 1px solid #000
			background-color: #FFF
			background-position: center center
			background-repeat: no-repeat
			background-size: 11px
			transition: $transition
			border-radius: 2px
			width: 12px
			height: 12px
		input
			display: none
			&:checked ~ div
				&:before
					background-image: url(../img/check.svg)

.message-box-small
	border: 2px solid #e7e8ed
	box-shadow: none
	margin-left: 0 !important
	margin-right: 0 !important
	padding: 0 8px 4px
	.message-header
		padding: 8px 0px 0
		background: #FFF
		border-bottom: 0
		.message-pill
			border: 0
			min-height: 12px
			.pill
				min-width: 24px
				height: 24px
				font-size: 12px
				line-height: 24px
			.custom-select
				font-size: 12px
				padding: 2.5px 30px 2.5px 12px
				height: 24px
	.message-body
		background: #e7e8ed
		padding: 4px
		.enter-box
			background: #FFF
			padding: 5px 10px
			.title-enter
				font-size: 14px
			.input-subject
				border: 2px solid #e7e8ed
				height: 30px
				padding: 4px 12px
	.textarea-message
		background: #e7e8ed
		padding: 6px 10px

.btn-dialog
	background: #ba1d18
	border-radius: 4px
	border: 0
	font-size: 13px
	color: #FFF
	padding: 8px 20px
	transition: $transition
	&:hover
		color: #FFF
		opacity: .8
	&:focus
		box-shadow: none